/* harrypotter.css */
body {
    background: url('hp.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Lumos', sans-serif;
    color: #FFD700; /* Golden color to match the Harry Potter theme */
    text-align: center;
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-family: 'Harry P', serif;
    font-size: 3em;
    color: #FFFFFF;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px #000000;
}

label {
    font-size: 1.5em;
    color: #FFD700;
}

input[type="number"] {
    padding: 10px;
    font-size: 1.2em;
    margin-top: 10px;
    border-radius: 5px;
    border: 2px solid #FFD700;
    background-color: #FFFFFF;
}

button {
    padding: 10px 20px;
    font-size: 1.2em;
    margin-top: 10px;
    border-radius: 5px;
    border: 2px solid #FFD700;
    background-color: #000000;
    color: #FFD700;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.5);
}

button:hover {
    background-color: #FFD700;
    color: #000000;
}

p {
    font-size: 1.5em;
    margin-top: 20px;
    color: #FFFFFF;
}

#storedData {
    font-weight: bold;
}

@font-face {
    font-family: 'Harry P';
    src: url('path_to_your_image/HARRYP__.TTF') format('truetype');
}

@font-face {
    font-family: 'Lumos';
    src: url('path_to_your_image/LUMOS.TTF') format('truetype');
}
